{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "my_request" %}
{% endblock title %}

{% block content %}
  <div class="container">
    {% with project=request.project %}

      {% include "includes/project_title.html" %}

    {% endwith %}
    <div class="d-flex justify-content-between flex-wrap ms-auto me-auto">
      <h4 class="me-2">{% trans "my_request" %}</h4>
      <a href="{% if user.id == request.user_id %} {% url 'collaboration:my_requests' %} {% else %} {% url 'collaboration:request_list' request.project.id %} {% endif %}"
         class="btn btn-outline-info">{% trans "to_list" %}</a>
    </div>
    <hr />

    {% include "includes/request_data.html" %}

    {% if request.status != "in_queue" %}
      <h3>{% trans "answer__noun" %}</h3>
      <div class="mt-1">{{ request.answer }}</div>
      <div class="mt-1 fs-4">

        {% include "includes/request_status_badge.html" %}

      </div>
    {% endif %}
    {{ form.media }}
  </div>
{% endblock content %}
