{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "requests_list" %}
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="d-flex justify-content-between flex-wrap ms-auto me-auto">
      <h3 class="me-2">{{ project.name }}</h3>
      <a href="{% url 'projects:view' project.id %}"
         class="btn btn-outline-dark">{% trans "go_to_project" %}</a>
    </div>
    <h4 class="mt-3">{% trans "requests_list" %}</h4>
    <hr />

    {% for request in requests %}
      <div class="bs-card border rounded p-1 pb-2 mb-3">
        <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
          {% with user=request.user %}

            {% include "includes/user_preview.html" %}

          {% endwith %}
          <span class="pe-2 text-secondary">{{ request.created_at }}</span>
        </div>
        <p class="ms-2">{{ request.about|safe|truncatewords_html:60 }}</p>
        <a href="{% url 'collaboration:request_view' request.id %}"
           class="btn btn-outline-secondary ms-2">{% trans "detailed" %}</a>
      </div>
    {% empty %}
      <div class="bs-empty-list-message">{% trans "nothing_to_show" %}</div>
    {% endfor %}

  </div>
{% endblock content %}
