{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block title %}
  {% if show_profile %}
    {% trans "my_profile" %}
  {% else %}
    {{ rendering_user.username }}
  {% endif %}
{% endblock title %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/user_view.css' %}" />
  <div class="container">
    <h3 class="mb-4 text-center text-wrap">
      {% if show_profile %}
        {% trans "my_profile" %}
      {% else %}
        {{ rendering_user.username }}
      {% endif %}
    </h3>
    <div class="bs-main-horizontal-container">
      <div class="bs-child-vertical-container mb-3">
        <div class="bs-user-image-block">
          <img src="{{ rendering_user.get_image_300x300.url }}"
               class="img-fluid rounded"
               width="300px"
               alt="..."/>
        </div>
        <div class="bs-username-block mt-2">
          <p class="fs-3 text-wrap text-center">
            {% if not rendering_user.first_name %}
              {{ rendering_user.username }}
            {% else %}
              {{ rendering_user.first_name }} {{ rendering_user.last_name }}
            {% endif %}
          </p>
        </div>
        {% if show_profile %}
          <div class="bs-user-info-container">
            <h6 class="text-left">{% trans "user_email" %}</h6>
            <p>{{ rendering_user.email }}</p>
          </div>
        {% endif %}
        <div class="bs-user-info-container">
          <h6 class="text-left">{% trans "user_bio" %}</h6>
          <p>
            {% if rendering_user.bio %}
              {{ rendering_user.bio }}
            {% else %}
              <i>{% trans "not_set" %}</i>
            {% endif %}
          </p>
        </div>
        {% if show_profile %}
          <div class="bs-user-info-container">
            <button class="btn btn-outline-secondary"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#userSettings"
                    aria-controls="userSettings">
              {% trans "setings" %} <i class="fa-solid fa-gear ms-2"></i>
            </button>
            <a class="btn btn-outline-danger mt-2" href="{% url 'users:logout' %}">{% trans "logout" %}</a>
          </div>
        {% endif %}
      </div>
      <div class="bs-child-vertical-container">
        <nav class="d-flex align-self-start">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link link-dark active"
                    id="nav-projects-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-projects"
                    type="button"
                    role="tab"
                    aria-controls="nav-projects"
                    aria-selected="true">
              {% trans "projects" %}
            </button>
            <button class="nav-link link-dark"
                    id="nav-commants-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-comments"
                    type="button"
                    role="tab"
                    aria-controls="nav-comments"
                    aria-selected="false">
              {% trans "comments" %}
            </button>
          </div>
        </nav>
        <div class="tab-content align-self-stretch" id="nav-tabContent">
          <div class="tab-pane fade show active"
               id="nav-projects"
               role="tabpanel"
               aria-labelledby="nav-projects-tab"
               tabindex="0">
            <div class="{% if show_profile %}bs-profile-projects-nav{% else %}d-flex justify-content-start align-self-start mt-3 mb-4{% endif %}">

              {% include "includes/search_string.html" %}

 
              {% if show_profile %}
                <a href="{% url 'projects:create' %}" class="btn btn-success mt-3">{% trans "create" %}</a>
              {% endif %}
            </div>
            {% for project in rendering_user.projects.all %}
              {% with show_author=False show_redact_button=show_profile %}
 

                {% include "includes/project_card.html" %}

 
              {% endwith %}
            {% endfor %}
          </div>
          <div class="tab-pane fade"
               id="nav-comments"
               role="tabpanel"
               aria-labelledby="nav-comments-tab"
               tabindex="0">
            <div class="d-flex flex-column align-items-stretch align-self-stretch mt-1">
              {% for comment in rendering_user.comments.all %}
                <div class="d-flex justify-content-between mt-3">
                  <div class="fs-5">
                    <a class="link-dark" href="{% url 'projects:view' comment.project.id %}">{{ comment.project.name }}</a>, <span>{{ comment.creation_date }}</span>
                  </div>
                  <a class="btn btn-outline-info text-nowrap"
                     target="_blanc"
                     href="{% url 'projects:view' comment.project.id %}#comment-{{ comment.id }}">{% trans "go_to" %}  <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if show_profile %}
    <div class="offcanvas offcanvas-start"
         data-bs-scroll="true"
         tabindex="-1"
         id="userSettings"
         aria-labelledby="userSettingsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="userSettingsLabel">
          {% trans "setings" %} <i class="fa-solid fa-gear ms-2"></i>
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        {% include "includes/form.html" %}

        <a class="btn btn-outline-warning mt-3"
           href="{% url 'users:password_change' %}">{% trans "change_password" %}</a>
      </div>
    </div>
  {% endif %}
{% endblock content %}
