{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ feed_name }}
{% endblock title %}

{% block header %}
  {% with render_search=True %}{{ block.super }}{% endwith %}
{% endblock header %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/feeds.css' %}" />
  <div class="container">
    <div class="bs-main-horizontal-container">

      {% include "includes/tags_selector.html" %}

      <div class="bs-child-vertical-container">
        <h3 class="text-center">{{ feed_name }}</h3>
        {% for project in projects %}
          {% with show_author=True %}

            {% include "includes/project_card.html" %}

          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
