<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        BrainStorm
      {% endblock title %}
    </title>
  </head>
  <body>
    <div>
      <div>
        <head role="banner">

          {% include "includes/header.html" %}

        </head>
        <main role="main">
          {% block content %}
            No content
          {% endblock content %}
        </main>
      </div>
      <footer role="contentinfo">

        {% include "includes/footer.html" %}

      </footer>
    </div>
  </body>
</html>
