<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    {% load i18n %}

 
    <link rel="stylesheet"
          href="{% static 'css/bootstrap/bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'css/bootstrap/bootstrap-grid.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'css/bootstrap/bootstrap-reboot.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'css/bootstrap/bootstrap-utilities.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'img/icons/apple-touch-icon.png' %}"/>
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'img/icons/favicon-32x32.png' %}"/>
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'img/icons/favicon-16x16.png' %}"/>
    <link rel="manifest" href="{% static 'img/icons/site.webmanifest' %}" />
    <link rel="mask-icon"
          href="{% static 'img/icons/safari-pinned-tab.svg' %}"
          color="#5bbad5"/>
    <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}" />
    <meta name="apple-mobile-web-app-title" content="BrainStorm" />
    <meta name="application-name" content="BrainStorm" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="msapplication-config"
          content="{% static 'img/icons/browserconfig.xml' %}"/>
    <meta name="theme-color" content="#ffffff" />

    <title>
      {% block title %}
        BrainStorm
      {% endblock title %}
    </title>
  </head>
  <body>
    <div class="bs-all-content">
      <div>
        <head role="banner">

          {% include "includes/header.html" %}


        </head>
        <main role="main">
          {% block content %}
            {% trans "no_content" %}
          {% endblock content %}
        </main>
      </div>
      <footer role="contentinfo">

        {% include "includes/footer.html" %}


      </footer>
    </div>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.esm.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/497b41eca7.js"
            crossorigin="anonymous"></script>
  </body>
</html>
