{% load i18n %}

{% load add_class %}

{% csrf_token %}
{% for field in form %}
  <div>
    <label class="form-label">{{ field.label_tag }}</label>
    {{ field|add_class:"form-control" }}
    {% if field.help_text %}
      <div class="text-secondary">
        <p>{{ field.help_text.capitalize|safe }}</p>
      </div>
    {% endif %}

    {% for error in field.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
  </div>
{% endfor %}
{% for error in form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
