.bs-project-card {
  transition: all 0.3s ease-in;
}

.bs-project-card:hover {
  box-shadow: 0 0 3px 0.2rem #1415158e;
  border-color: #141515d0;
  border-style: solid;
}

.bs-hidden-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.bs-hidden-link:hover {
  color: rgb(93, 91, 91);
}
