.bs-main-horizontal-container {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.bs-child-vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.bs-child-vertical-container:first-child {
  min-width: 300px;
  width: 300px;
  margin-right: 40px;
}

.bs-child-vertical-container:last-child {
  align-self: stretch;
  align-items: flex-start;
}

@media screen and (max-width: 991.5px) {
  .bs-main-horizontal-container {
    align-items: center;
    flex-direction: column;
  }

  .bs-child-vertical-container:first-child {
    width: auto;
    padding: 0px;
    align-self: stretch;
    align-items: flex-start;
  }
}

.bs-image-block  {
    border-radius: 5%;
    border: solid 2px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bs-image-block:hover {
    border-color: #1415158e;
    box-shadow: 0 0 3px 0.2rem #1415158e;
}

.bs-project-gallery-carousel {
    max-width: 500px !important;
}

.bs-comment {
    border:rgba(108, 103, 103, 0.633) solid 3px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease-out;
}

.bs-comment:hover {
    box-shadow: 0 0 3px 0.2rem #1415158e;
    border-radius: 7px;
}

.bs-comment-user-image {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(119, 115, 115);
    border-radius: 50%;
    margin-right: 7px;
    align-self: flex-start;
}

#range-value-display {
  width: 50px;
  min-width: 50px;
  height: 50px;
  font-size: 30px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 20px;
  margin-right: 10px;

  border: solid 3px #9acd32;
  border-radius: 20%;

  transition: all 0.3s ease-in-out;
}

#range-value-display:hover {
  border-radius: 50%;
}
