p:empty {
  display: none;
}

.bs-all-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.bs-top-nav-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.bs-fit-content-table {
  width: fit-content !important;
}
