{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% load thumbnail %}

{% block title %}
  {{ project.name }}
{% endblock title %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/project_view.css' %}" />
  <div class="container">
    <div class="bs-main-horizontal-container">
      <div class="bs-child-vertical-container mb-3">

        {% load thumbnail %}

        {% if project.preview.image %}

          {% thumbnail project.preview.image "300x300" padding=True as im %}
          <img src="{{ im.url }}"
               class="bs-image-block"
               height="{{ im.height }}"
               width="{{ im.width }}"
               alt="..."/>
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'img/project_default.jpg' %}"
             class="bs-image-block"
             height="300px"
             width="300px"
             alt="..."/>
      {% endif %}
    </div>
    <div class="bs-child-vertical-container">
      <h3 class="mb-3 text-center text-wrap">{{ project.name }}</h3>
      <p>{{ project.short_description|safe }}</p>
    </div>
    <div class="bs-child-vertical-container mb-4">
      <div class="d-flex flex-column align-items-end mb-2">
        <div class="d-flex flex-nowrap">
          <span class="fs-4">{% trans "rating" %}</span> <span class="bs-rating-show ms-3">{{ average_rating }}</span>
        </div>
        <div class="badge text-bg-light bs-status-badge fs-5 ms-2 mt-3">{{ project.get_status_display }}</div>
      </div>
      <div>
        {% if user.is_authenticated and user.id == project.get_author.id %}
          <a href="{% url 'projects:redact' project.id %}"
             class="btn btn-outline-success">{% trans "redact" %}</a>
          <a href="{% url 'projects:delete' project.id %}" class="btn btn-outline-danger ms-2 mt-2">{% trans "delete" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="d-flex flex-column align-items-start">
    <div class="accordion align-self-stretch mb-3" id="projectAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#infoCollapse"
                  aria-expanded="false"
                  aria-controls="infoCollapse">
            {% trans "information" %}
          </button>
        </h2>
        <div id="infoCollapse"
             class="accordion-collapse collapse"
             data-bs-parent="#projectAccordion">
          <div class="accordion-body">
            <table class="table table-hover table-bordered bs-fit-content-element">
              <tbody>
                <tr>
                  <th scope="row">{% trans "ratings_count" %}</th>
                  <td class="text-center">{{ project.score_project.count }}</td>
                </tr>
                <tr>
                  <th scope="row">{% trans "comments_count" %}</th>
                  <td class="text-center">{{ project.get_comments.count }}</td>
                </tr>
                <tr>
                  <th scope="row">{% trans "creation_date" %}</th>
                  <td class="text-center">{{ project.creation_date }}</td>
                </tr>
                <tr>
                  <th scope="row">{% trans "update_date" %}</th>
                  <td class="text-center">{{ project.update_date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#descriptionCollapse"
                  aria-expanded="false"
                  aria-controls="descriptionCollapse">
            {% trans "description" %}
          </button>
        </h2>
        <div id="descriptionCollapse"
             class="accordion-collapse collapse"
             data-bs-parent="#projectAccordion">
          <div class="accordion-body">{{ project.description|safe }}</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseGallery"
                  aria-expanded="false"
                  aria-controls="collapseGallery">
            {% trans "gallery" %}
          </button>
        </h2>
        <div id="collapseGallery"
             class="accordion-collapse collapse"
             data-bs-parent="#projectAccordion">
          <div class="accordion-body">
            {% if project.get_gallery_images.all %}
              <div id="gelleryCarousel"
                   class="carousel slide bs-project-gallery-carousel">
                <div class="carousel-inner">
                  {% for image in project.get_gallery_images.all %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                      <img src="{{ image.image.url }}"
                           width="400px"
                           height="auto"
                           class="d-block w-100"
                           alt="..."/>
                    </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev"
                        type="button"
                        data-bs-target="#gelleryCarousel"
                        data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next"
                        type="button"
                        data-bs-target="#gelleryCarousel"
                        data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            {% else %}
              <i>{% trans "no_photo" %}</i>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseCollaboration"
                  aria-expanded="false"
                  aria-controls="collapseCollaboration">
            {% trans "collaborators" %}
          </button>
        </h2>
        <div id="collapseCollaboration"
             class="accordion-collapse collapse"
             data-bs-parent="#projectAccordion">
          <div class="accordion-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="{% url 'users:overview' project.author.username %}"
                   class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                  {{ project.author.username }}
                </a>
                <span class="badge text-bg-success ms-2">{% trans "author" %}</span>
              </li>
              {% for collab in project.collaborators.all %}
                <li class="list-group-item">
                  <a href="{% url 'users:overview' collab.username %}"
                     class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    {{ collab.username }}
                  </a>
                  {% if collab.username == project.author.username %}
                  <span class="badge text-bg-success ms-2">{% trans "author" %}</span>
                  {% endif %}
                </li>
              {% endfor %}
              {% if user.is_authenticated %}
                <div class="bs-fit-content-element mt-3">
                  {% if user.id != project.author.id and user not in project.collaborators.all %}
                    <a href="{% url 'collaboration:create_request' project.id %}"
                       class="btn btn-outline-success">{% trans "create_request" %}</a>
                  {% endif %}
                  {% if user.id == project.author.id %}
                    <a href="{% url 'collaboration:request_list' project.id %}"
                       class="btn btn-outline-info">{% trans "requests_list" %}</a>
                  {% endif %}
                </div>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      {% for tag in project.tags.all %}<span class="badge text-bg-dark me-1">{{ tag.name }}</span>{% endfor %}
    </div>
    {% if user.is_authenticated and user.id != project.author.id %}
      <h4 class="mt-4 mb-3">
        {% trans "my_rating" %}
      </h4>
      <form class="d-flex align-items-center"
            method="post"
            enctype="multipart/form-data">
        <input type="hidden" name="action" value="set_rating" />
        {% csrf_token %}
        {% for field in rating_form %}{{ field }}{% endfor %}
        <div id="range-value-display" class="bs-rating-show">
          ?
        </div>
        <input type="submit"
               class="btn btn-light align-self-end ms-2"
               value="{% trans "set_rating" %}"/>
      </form>
    {% endif %}
    <div id="set-range-value-in-start" class="bs-none">
      {% if rating_exists %}Yes{% endif %}
    </div>
    <h4 id="comments-list-top" class="mt-4">
      {% trans "comments" %}
    </h4>
    {% if user.is_authenticated %}
      <h5 class="mt-1 text-secondary">
        {% trans "leave_comment" %}:
      </h5>
      <div class="d-flex align-items-center align-self-stretch mt-2 pb-4">
        <img class="bs-small-user-image"
             src="{{ user.get_image_50x50.url }}"
             width="50px"
             height="50px"
             alt="..."/>
        <form class="d-flex align-items-center"
              method="post"
              enctype="multipart/form-data">
          <input type="hidden" name="action" value="leave_comment" />
          {% csrf_token %}
          {% for field in comment_form %}{{ field }}{% endfor %}
          <input type="submit"
                 class="btn btn-outline-secondary align-self-end ms-2"
                 value="{% trans "send" %}"/>
        </form>
      </div>
    {% endif %}
    <div class="d-flex flex-column align-items-stretch align-self-stretch pt-3">
      {% for comment in comments %}
        <div id="comment-{{ comment.id }}" class="bs-comment">
          <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
            {% with user=comment.user %}

              {% include "includes/user_preview.html" %}

            {% endwith %}
            <span class="pe-2 text-secondary">{{ comment.creation_date }}</span>
          </div>
          <p class="ms-2">
            {{ comment.text|linebreaks }}
          </p>
        </div>
      {% empty %}
        <div class="bs-empty-list-message">
          {% trans "nothing_to_show" %}
        </div>
      {% endfor %}
      <div id="paginators-list" class="bs-none">
        page
      </div>
      {% with indicator="page" page_obj=comments %}

        {% include "includes/pagination_bar.html" %}

      {% endwith %}
      <script type="module" src="{% static 'js/pagination_bar.js' %}"></script>
    </div>
  </div>
</div>
<script type="module" src="{% static 'js/rating_range.js' %}"></script>
{% endblock content %}
