{% extends "base.html" %}

{% load i18n %}

{% load static %}

{% block title %}
  {{ project.name }}
{% endblock title %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/project_change.css' %}" />
  <div class="container">
    <div class="bs-project-panel-container">
      <h3>{% trans "project_redact" %}</h3>
      <div>
        <a href="javascript:history.back()" class="btn btn-outline-warning">{% trans "cancel" %}</a>
        <a href="" class="btn btn-outline-danger">{% trans "delete" %}</a>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data">

      {% include "includes/form_fields.html" %}

 
      <input type="submit" class="btn btn-success mt-2" value="{% trans "save" %}"/>
    </form>
  </div>
{% endblock content %}
