{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "about_project" %}
{% endblock title %}

{% block content %}
  <div class="container">
    <h3 class="mb-3">{% trans "about_project" %}</h3>
    <p>
      BrainStorm – это сайт, на котором разработчики могут делиться своими оригинальными идеями,
      получать  фидбек от других людей и находить сообщников и спонсоров, готовых помочь в реализации проектов.
    </p>
    <p>
      Сайт является не только местом для размещения проектов, но и помощником в их продвижении.
      Если ваша работа нравится людям, и вы получаете много положительных отзывов, то она поднимается в рейтинге,
      а это в свою очередь повышает шансы найти спонсоров и развить свою идею.
    </p>
  </div>
{% endblock content %}
